// サイトカラー

$site-color-main: rgb(240, 173, 173);
$site-color-sub: rgb(240, 173, 173);

// フォントカラー

$font-color-h1: rgb(240, 173, 173);
$font-color-h2: rgb(240, 173, 173);
$font-color-h3: rgb(240, 173, 173);
$font-color-p: rgb(240, 173, 173);
$font-color-button: rgb(240, 173, 173);
