// fontsize

$font-size-p: 16px;
$font-size-h1: 18px;
$font-size-h2: 14px;
$font-size-h3: 12px;
$font-size-sp: 12px;

// font-family

$font-family-title: "ヒラギノ角ゴ ProN";
$font-family-base: "SimSun";

// font-shadow
$font-shadow-h1:2px 3px 3px rgba(0, 0, 0, 0.4);
$font-shadow-h2:4px 3px 1px rgba(14, 62, 42, 0.27);
