// マージン
$Highlarge-margin: 70px;
$large-margin: 40px;
$middle-margin: 20px;
$small-margin: 10px;
$small-margin2: -5px;
// ボタンパディング

$large-padding: 10px 30px;
$middle-padding: 5px 15px;
$small-padding: 3px 10px;
$navi-padding: 0px 5%;

// スライダーマージン

$slider-margin: 20px;

// ナビーマージン

$navigation-margin: 10%;